/* =========================
   MENU BAR (WHITE)
   ========================= */
.employee-menu-bar {
    -fx-background-color: #e6f7ef;
    -fx-padding: 12 30 12 30;
    -fx-border-color: #e6f7ef;
    -fx-border-width: 0 0 2 0;
    -fx-font-size: 32px;
}

/* =========================
   MAIN MENU TEXT
   ========================= */
.employee-menu {
    -fx-padding: 14 35 14 35;
}

.employee-menu .label {
    -fx-font-size: 20px;     /* LARGE */
    -fx-font-weight: 900;   /* VERY BOLD */
    -fx-text-fill: #111827; /* Dark text */
}

/* Hover on menu title */
.employee-menu:hover {
    -fx-background-color: #e6f7ef;
}

/* =========================
   DROPDOWN MENU
   ========================= */
.context-menu {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-border-color: #d1d5db;
    -fx-border-width: 1;
}

/* =========================
   MENU ITEMS
   ========================= */
.menu-item {
    -fx-padding: 14 30 14 30;
}

.menu-item .label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #111827;
}

/* Hover menu item */
.menu-item:hover {
    -fx-background-color: #e5e7eb;
}
